---
title: Bolos & Jewelry
permalink: /bolos/
bolo-image-dir: /assets/images/bolos/
jewelry-image-dir: /assets/images/jewelry/
bolo-images:
  -
    filename: spider.jpg
    title: Spider bolo tie: stainless steel / walnut
  -
    filename: wolf.jpg
    title: Wolf bolo tie: stainless steel / walnut
  -
    filename: owl.jpg
    title: Owl bolo tie: stainless steel / walnut
  -
    filename: dragonfly.jpg
    title: Dragonfly bolo tie: stainless steel / walnut
  -
    filename: rabbit.jpg
    title: Rabbit bolo tie: stainless steel / walnut
  -
    filename: otter.jpg
    title: Otter bolo tie: stainless steel / walnut

jewelry-images:
  -
    filename: hubei-turquoise-brass.jpg
    title: Hubei turquoise / brass necklace
  -
    filename: malachite-1.jpg
    title: Malachite / brass necklace
  -
    filename: malachite-2.jpg
    title: Malachite / brass necklace
  -
    filename: moonstone.jpg
    title: Moonstone / sterling silver necklace
  -
    filename: shattuckite.jpg
    title: Shattuckite / brass necklace
  -
    filename: agate-earrings.jpg
    title: Agate / brass earrings
  -
    filename: agate-pair-heart.jpg
    title: Mexican crazy lace agate / brass friendship necklaces
  -
    filename: pieterscite-pair.jpg
    title: Pieterscite / sterling silver necklaces
  -
    filename: roserita-pair.jpg
    title: Roserita / brass necklaces
  -
    filename: turquoise-variscite-pair.jpg
    title: Turquoise and variscite / sterling silver necklaces
  -
    filename: variscite-ring.jpg
    title: Variscite / sterling silver ring
---

<style>
.gallery-images {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.gallery-images>* {
  flex: 1 1 200px;
}
</style>

<h2 class="page-header centered">Bolos</h2>

<div class='gallery-images chocolat-parent'>
  {% for image in page.bolo-images %}
    {% assign filename = page.bolo-image-dir | append: image.filename %}
    <a class="chocolat-image" href="{{ filename | relative_url }}" title="{{ image.title }}">
      <img
        class="fit-image column-img easeload"
        onload="this.style.opacity=1"
        title="{{ image.title }}"
        src="{{ filename | relative_url }}"
      />
    </a>
  {% endfor %}
</div>


<h2 class="page-header centered">Jewelry</h2>

<div class='gallery-images chocolat-parent'>
  {% for image in page.jewelry-images %}
    {% assign filename = page.jewelry-image-dir | append: image.filename %}
    <a class="chocolat-image" href="{{ filename | relative_url }}" title="{{ image.title }}">
      <img
        class="fit-image column-img easeload"
        onload="this.style.opacity=1"
        title="{{ image.title }}"
        src="{{ filename | relative_url }}"
      />
    </a>
  {% endfor %}
</div>
