---
title: Installations
permalink: /installations/
---

<style>
.installation-description {
  padding-top: 1em;
}
.date {
  font-size: 0.8em;
}
</style>

{% assign installations = site.installations | reverse %}

{% for installation in installations %}
  <div class="installation">
    <h3 class="centered">
      <a href="{{ installation.url | relative_url }}">
        <strong>{{ installation.name }}</strong>
      </a>

      {% if installation.year %}
      <div class="centered">
        <span class="date">{{ installation.year }}</span>
      </div>
      {% endif %}
    </h3>

    {% if installation.main-image %}
      {% assign filename = installation.image-dir | append: installation.main-image %}
      <div>
        <a href="{{ installation.url | relative_url }}">
          <img
            class="fit-image column-img easeload"
            onload="this.style.opacity=1"
            src="{{ filename | relative_url }}"
          />
        </a>
        {% if installation.main-image-by %}
          <div class="photo-by">
            ^ photo by
            <a href="{{ installation.main-image-by-url }}">{{ installation.main-image-by }}</a>
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="installation-description">
      {{ installation.excerpt | truncatewords: 20, ' ...' | remove: '<p>' | remove: '</p>' }}

      <a href="{{ installation.url | relative_url }}">read more!</a>
    </div>

  </div>
{% endfor %}
