---
title: Projects
permalink: /projects/
---
<h1>Projects</h1>

{% for project in site.projects %}
  <p>
    <a href="{{ project.url | relative_url }}">
      <strong>{{ project.name }}</strong>
    </a>
    -

    {% if project.year %}
      <span class="date">{{ project.year }}</span>
      -
    {% endif %}

    {{ project.excerpt | truncatewords: 20, ' ...' | remove: '<p>' | remove: '</p>' }}

    {% if project.main-image %}
      {% assign filename = project.image-dir | append: project.main-image %}
      <img class="fit-image column-img" src="{{ filename | relative_url }}" />
    {% endif %}
  </p>
{% endfor %}
