---
title: Projects
permalink: /projects/
---
<h1>Projects</h1>

Showcase for smaller scale projects! I also post these on <a href="https://www.hackster.io/michellesh/" target="_blank">hackster.io</a>

{% assign projects = site.projects | reverse %}

<div class='column-container'>
  <div class='column'>
    {% for project in projects %}
      {% assign odd = forloop.index | modulo: 2 %}
      {% if odd != 0 %}
        {% include post-summary.html content=project %}
      {% endif %}
    {% endfor %}
  </div>
  <div class='column'>
    {% for project in projects %}
      {% assign odd = forloop.index | modulo: 2 %}
      {% if odd == 0 %}
        {% include post-summary.html content=project %}
      {% endif %}
    {% endfor %}
  </div>
</div>
