---
title: Projects
permalink: /projects/
---

{% include handwritten-header.html url="/assets/images/headers/projects.png" %}

Showcase for smaller scale projects! I also post these on <a href="https://www.hackster.io/michellesh/" target="_blank">hackster.io</a>

{% assign projects = site.projects | where_exp: 'project', 'project.hidden != true' | reverse %}
{% assign num-rows = projects.size | divided_by: 2 | ceil %}

{% for i in (0..num-rows) %}
  <div class='column-container'>
    {% assign index = i | times: 2 %}
    {% assign project = projects[index] %}
    <div class='column'>
      {% include post-summary.html content=project %}
    </div>
    {% assign index = i | times: 2 | plus: 1 %}
    {% assign project = projects[index] %}
    <div class='column'>
      {% include post-summary.html content=project %}
    </div>
  </div>
{% endfor %}
