<div class="footer">
  <a href="https://github.com/michellesh" target="_blank">
    {% include icon.html icon="github" %}
  </a>
  <a href="https://www.instagram.com/mickymakes.art" target="_blank">
    {% include icon.html icon="instagram" %}
  </a>
  <a href="https://www.tiktok.com/@mickymakes" target="_blank">
    {% include icon.html icon="tiktok" %}
  </a>
  <div class="footer-mailing-list">
    <a href="https://squareup.com/outreach/YqP2ad/subscribe" target="_blank">Join my mailing list!</a>
  </div>
</div>
