<div class="footer">
  <a href="https://github.com/michellesh" target="_blank">
    <img src="{{ '/assets/images/GitHub-Mark-32px.png' | relative_url }}" />
  </a>
  <a href="https://www.instagram.com/mickymakes.art" target="_blank">
    <img src="{{ '/assets/images/Instagram_Glyph_Black.png' | relative_url }}" />
  </a>
  <a href="https://www.tiktok.com/@mickymakes" target="_blank">
    <img src="{{ '/assets/images/TikTok_Icon_Black_Circle.png' | relative_url }}" />
  </a>
  <div class="footer-mailing-list">
    <a href="/mailing-list">Join my mailing list</a>
  </div>
</div>
