<script>
trigger = function () {
  Slider.classList.toggle("slide-down")
  Icon.classList.toggle("point-right")
  //Slider.classList.toggle("slideup")
};
</script>
<style>
.menu-button {
  background: #fff;
  border: none;
  padding: 1em;
  font-size: 0.6em;
  color: #444;
  letter-spacing: .08em;
  font-family: sometype;
}
.mobile-menu {
  text-align: center;
  width: 100%;
  letter-spacing: .08em;
}
#menu-content {
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}
#menu-content a {
  display: block;
  font-size: 0.6em;
  font-weight: normal;
  height: 2em;
  margin-top: 0.8em;
}
#Slider #menu-content {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: auto;
}
#Slider.slide-down #menu-content {
  max-height: 15em;
  transition: max-height 0.25s ease-in;
}
</style>

<nav class="desktop-menu">
  <div id="d3-vis"></div>

  <script src="{{ '/assets/js/d3/const.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/d3/canvas.js' | relative_url }}"></script>

  <div class="nav-links">
    {% for item in site.data.navigation %}
      <div class="nav-link">
        <a href="{{ item.link | relative_url }}" class="{% if item.link == page.dir %}nav-active{% endif %}">
          {{ item.name }}
        </a>
      </div>
    {% endfor %}
  </div>
</nav>

<nav class="mobile-menu">
  <img class="no-shadow" style="width:100%;" src="/assets/images/micky-makes.png" />
  <button onclick="trigger()" class="menu-button">
    {% include icon.html id="Icon" icon="chevron" class="point-down" width="1em" %}
    menu
  </button>
  <div id="Slider">
    <div id="menu-content">
      {% for item in site.data.navigation %}
        <a href="{{ item.link | relative_url }}">
          {{ item.name }}
        </a>
      {% endfor %}
    </div>
  </div>
</nav>
