{% assign post = include.content %}

{% if post %}
  <div>
    {% if post.main-image-url %}
      <a href="{{ post.url | relative_url }}">
        <img
          class="fit-image column-img easeload"
          onload="this.style.opacity=1"
          src="{{ post.main-image-url | relative_url }}"
        />
      </a>
    {% endif %}

    <div class="post-description">
      <h3 class="post-header">
        <a href="{{ post.url | relative_url }}"><strong>{{ post.title }}</strong></a>
      </h3>
      {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
      <h5 class="read-more-link">
        <a href="{{ post.url | relative_url }}">
          <strong>Read more&nbsp;</strong>
          {% include icon.html icon="chevron" class="point-right" %}
        </a>
      </h5>
    </div>
  </div>
{% endif %}
