.green { color: #5bb25f; }
.red { color: #e05d5d; }
.campfire1 { color: #5D8475; font-weight: bold; }
.campfire2 { color: #A2AF79; font-weight: bold; }
.campfire3 { color: #ECCC7F; font-weight: bold; }
.campfire4 { color: #F2AD70; font-weight: bold; }
.campfire5 { color: #EC966A; font-weight: bold; }
.campfire6 { color: #DE6F5C; font-weight: bold; }
.campfire7 { color: #833F40; font-weight: bold; }
