@font-face {
  font-family: 'righteous';
  src: url('/assets/fonts/Righteous-Regular.ttf');
}
@font-face {
  font-family: 'fascinate';
  src: url('/assets/fonts/Fascinate-Regular.ttf');
}
@font-face {
  font-family: 'belanosima';
  src: url('/assets/fonts/Belanosima-Regular.ttf');
}
