@font-face {
  font-family: 'righteous';
  src: url('/assets/fonts/Righteous-Regular.ttf');
}
@font-face {
  font-family: 'fascinate';
  src: url('/assets/fonts/Fascinate-Regular.ttf');
}
@font-face {
  font-family: 'belanosima';
  src: url('/assets/fonts/Belanosima-Regular.ttf');
}
@font-face {
  font-family: 'jetbrains';
  src: url('/assets/fonts/JetBrainsMono-Regular.ttf');
}
@font-face {
  font-family: 'sometype';
  src: url('/assets/fonts/SometypeMono-Regular.ttf');
}
@font-face {
  font-family: 'iawriter';
  src: url('/assets/fonts/iAWriterDuospace-Regular.otf');
}
