$blue-green: #1E6A7F;
$sage: #789F97;
$dark-sage: #4B5E53;
$mustard: #9f8a2d;
$white: #EAE7E5;
$mauve: #938e97;
$dark-gray: #444;
$bright-blue: #094C73;

$code-block: #f8f8f8;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  letter-spacing: .05rem;
  font-size: .9rem;
  background: $white;
}

.easeload {
  opacity: 0;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
}

.container {
  margin: auto;
  max-width: 650px;
  width: 650px;
}

iframe {
  max-width: 650px;
  width: 650px;
  max-height: 500px;
  height: 500px;
}

nav {
  padding-bottom: 2em;
  text-transform: lowercase;
  font-family: belanosima;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: .15rem;
}

nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mickymakes-title {
  text-align: center;
  padding-bottom: 2rem;
  color: $dark-gray;
}

h1, h2, h3 {
  font-family: belanosima;
}

h1, h2, h3, h4, h5 {
  text-transform: lowercase;
  letter-spacing: 0.15rem;
  color: $dark-gray;
}

h1, h2, h3, h4, h5 a {
  color: $dark-gray;
}

h2 {
  margin-top: 4em;
}

h3 {
  margin-top: 3em;
}

a {
  color: $bright-blue;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

h1 a, h2 a, h3 a, h4 a, h5 a, .nav-links a, a:has(img) {
  color: $dark-gray;
  font-weight: normal;
}

a:hover {
  color: $dark-gray;
}

.nav-links a:first-child {
  padding: 8px 0;
}
.nav-links a {
  padding: 8px 0;
}
.nav-links a.nav-active {
  border-bottom: 3px dotted #777;
  //text-decoration: underline;
}
.nav-links a:last-child {
  padding: 8px 0;
}
.nav-links a:hover {
  animation: wobble .5s ease;
}
@keyframes wobble {
  0% { transform: translateX(0%); }
  15% { transform: translateX(-2.5%); }
  30% { transform: translateX(2%); }
  45% { transform: translateX(-1.5%); }
  60% { transform: translateX(1%); }
  75% { transform: translateX(-0.5%); }
  100% { transform: translateX(0%); }
}

p, li, td, .p {
  line-height: 1.6;
}

p {
  margin: 2rem 0;
}

table {
  border-collapse: collapse;
}

td, th {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

th {
  border-bottom: 1px solid $sage;
}

pre {
  padding: 2em;
  overflow-x: auto;
}

pre code {
  padding: 0;
}

code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  background-color: $code-block;
  border-radius: 6px;
  padding: 0.2em 0.4em;
  font-size: 85%;
}

.highlighted {
  background-color: $mustard;
  border-radius: 6px;
  padding: 0.1em 0.2em;
}

.highlight {
  margin-left: 0;
  margin-right: 0;
}

.date {
  font-weight: normal;
  font-style: italic;
  color: $dark-gray;
}

.fit-image {
  width: 100%;
}

.page-header {
  margin: 3rem 0;
  text-align: center;
}

.header-text-image {
  height: 3em;
}

.half-fit-image {
  width: 50%;
}

.centered {
  text-align: center;
}

.column-container {
  gap: 1em;
  display: flex;
}

.post-columns {
  gap: 2em;
}

.column {
  flex: 1 1 0px;
}

.column-img {
  margin-top: 0.3em;
}

.installation {
  margin-bottom: 2rem;
  line-height: 1.6;
}

.photo-by {
  margin-bottom: 0.3em;
}

img {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

img.no-shadow {
  box-shadow: none;
}

.card-shadow {
  line-height: 1.6;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.post-columns .column-img {
  margin-top: 0;
}

.post {
  margin-top: 3em;
}

.read-more-link {
  margin-bottom: 0;
}

.post-description {
  padding: 2em 1em;
}

.post-header {
  margin-top: 0;
}

#d3-vis {
  text-align: center;
  background-image: url("/assets/images/micky-makes.png");
  background-size: 400px;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
}

/* Sticky footer!
 * Thank you: https://css-tricks.com/couple-takes-sticky-footer/
 */
$footerHeight: 9em;

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -($footerHeight);
}

.footer-push, footer {
  height: $footerHeight;
}

.footer {
  padding-top: 2em;
  text-align: center;
}

.footer img {
  width: 2em;
  opacity: 0.5;
  padding: 0 0.5em;
}

.footer-mailing-list {
  margin: 2em;
}

.mobile-menu {
  display: none;
}
