// green & tan
//$base-color: #649466;
//$secondary-color: #b5ad9b;

// blue & tan
$base-color: #809BBF;
$secondary-color: #bc935c;
$tan: #f3eee7;

$code-block: #f5f7f9;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.container {
  margin: auto;
  max-width: 650px;
  width: 650px;
}

nav {
  padding: 2em 0;
}

nav a, nav strong {
  margin-right: 1em;
}

a {
  color: $base-color;
  text-decoration: none;
}

p, li, td {
  line-height: 1.6;
}

p {
  margin: 2rem 0;
}

table {
  border-collapse: collapse;
}

td, th {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

th {
  border-bottom: 1px solid $base-color;
}

pre {
  padding: 2em;
  background-color: $code-block;
}

pre code {
  padding: 0;
}

code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  background-color: $code-block;
  border-radius: 6px;
  padding: 0.2em 0.4em;
  font-size: 85%;
}

.highlighted {
  background-color: $tan;
  border-radius: 6px;
  padding: 0.1em 0.2em;
}

.date {
  font-style: italic;
  color: $secondary-color;
}

.fit-image {
  width: 100%;
}

.column-container {
  display: flex;
}

.column:not(.column:last-child) {
  margin-right: 0.5em;
}

.column {
  flex: 1 1 0px;
}

.column-img {
  margin-bottom: 0.3em;
}

/* Sticky footer!
 * Thank you: https://css-tricks.com/couple-takes-sticky-footer/
 */
$footerHeight: 6em;

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -($footerHeight);
}

.footer-push, footer {
  height: $footerHeight;
}

.footer {
  padding-top: 2em;
  text-align: center;
}

.github-icon {
  opacity: 0.5;
}
