$blue-green: #1E6A7F;
$sage: #789F97;
$dark-sage: #4B5E53;
$mustard: #9f8a2d;
$white: #EAE7E5;

$code-block: #f8f8f8;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  letter-spacing: .05rem;
  font-size: .9rem;
  background: $white;
}

.easeload {
  opacity: 0;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
}

.container {
  margin: auto;
  max-width: 650px;
  width: 650px;
}

iframe {
  max-width: 650px;
  width: 650px;
  max-height: 500px;
  height: 500px;
}

nav {
  padding-bottom: 2em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8rem;
  letter-spacing: .15rem;
}

nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mickymakes-title {
  text-align: center;
  padding-bottom: 2rem;
  color: $blue-green;
}

h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  background: $blue-green;
  padding: 2rem;
  color: $white;
  font-size: 1rem;
}

h2, h3, h4, h5 {
  color: $blue-green;
}

h2 {
  margin-top: 4em;
}

h3 {
  margin-top: 3em;
}

a {
  color: $sage;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: $dark-sage;
}

.nav-links a:first-child {
  padding: 10px 10px 10px 0;
}
.nav-links a {
  padding: 10px;
}
.nav-links a:last-child {
  padding: 10px 0 10px 10px;
}
.nav-links a:hover {
  animation: wobble .9s ease;
}
@keyframes wobble {
  0% { transform: translateX(0%); }
  15% { transform: translateX(-5%); }
  30% { transform: translateX(4%); }
  45% { transform: translateX(-3%); }
  60% { transform: translateX(2%); }
  75% { transform: translateX(-1%); }
  100% { transform: translateX(0%); }
}

p, li, td, .p {
  line-height: 1.6;
}

p {
  margin: 2rem 0;
}

table {
  border-collapse: collapse;
}

td, th {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

th {
  border-bottom: 1px solid $sage;
}

pre {
  padding: 2em;
  overflow-x: auto;
}

pre code {
  padding: 0;
}

code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  background-color: $code-block;
  border-radius: 6px;
  padding: 0.2em 0.4em;
  font-size: 85%;
}

.highlighted {
  background-color: $mustard;
  border-radius: 6px;
  padding: 0.1em 0.2em;
}

.highlight {
  margin-left: 0;
  margin-right: 0;
}

.date {
  font-weight: normal;
  font-style: italic;
  color: $mustard;
}

.fit-image {
  width: 100%;
}

.half-fit-image {
  width: 50%;
}

.centered {
  text-align: center;
}

.column-container {
  display: flex;
}

.column:not(.column:last-child) {
  margin-right: 0.5em;
}

.column {
  flex: 1 1 0px;
}

.column-img {
  margin-top: 0.3em;
}

.installation {
  margin-top: 2rem;
  line-height: 1.6;
}

.photo-by {
  margin-bottom: 0.3em;
}

#d3-vis {
  text-align: center;
  background-image: url("/assets/images/micky-makes.png");
  background-size: 400px;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
}

/* Sticky footer!
 * Thank you: https://css-tricks.com/couple-takes-sticky-footer/
 */
$footerHeight: 9em;

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -($footerHeight);
}

.footer-push, footer {
  height: $footerHeight;
}

.footer {
  padding-top: 2em;
  text-align: center;
}

.footer img {
  opacity: 0.5;
  padding: 0 0.5em;
}

.footer-mailing-list {
  margin: 2em;
}
