@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 600px)
  and (-webkit-min-device-pixel-ratio: 2) {

  body, nav {
    font-size: 2em;
  }

  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: inline-block;
  }

  .container {
    margin: auto;
    max-width: none;
    width: 90%;
    padding: 1em;
    overflow-x: hidden;
  }

  iframe {
    max-width: 100%;
    width: 100%;
  }

  table {
    font-size: 2em;
    width: 90%;
    overflow-x: auto;
  }

  .column-container {
    display: block;
  }

  pre {
    font-size: 2em;
  }

  h1, h2, h3, h4, h5, strong, a {
    font-weight: 550;
  }

  /* left, right, and close icons */
  .chocolat-wrapper.chocolat-visible .chocolat-left, .chocolat-wrapper.chocolat-visible .chocolat-right, .chocolat-wrapper.chocolat-visible .chocolat-close {
    width: 10vw;
    height: 10vw;
    background-size: 8vw;
  }

  .chocolat-wrapper.chocolat-visible .chocolat-top {
    height: 10vh;
  }

  .chocolat-wrapper.chocolat-visible .chocolat-bottom {
    height: 10vh;
    font-size: 2.5rem;
  }

  .chocolat-wrapper.chocolat-visible .chocolat-fullscreen {
    display: none;
  }

  .chocolat-wrapper.chocolat-visible .chocolat-pagination {
    padding-right: 0;
  }
}
