@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  body, nav {
    font-size: 2em;
  }

  .container {
    margin: auto;
    max-width: none;
    width: 90%;
    padding: 1em;
    overflow-x: hidden;
  }

  iframe {
    max-width: 100%;
    width: 100%;
  }

  table {
    font-size: 2em;
    width: 90%;
    overflow-x: auto;
  }

  .column-container {
    display: block;
  }

  pre {
    font-size: 2em;
  }

  .footer img {
    width: 4em;
  }
}
