---
layout: default
---
<h1>{{ page.name }}</h1>

<p class="date">{{ page.year }}</p>

{% if page.github %}
  <a href="{{ page.github }}" target="_blaank">Read all the {{ page.name }} code on GitHub!</a>
{% endif %}

{{ content }}

<div class='column-container'>
  {% for column in page.columns %}
    <div class='column'>
      {% assign column-images = page.images | where: 'column', column %}
      {% for image in column-images %}
        {% assign filename = page.image-dir | append: image.filename %}
        <img
          class="fit-image column-img"
          title="{{ image.title }}"
          src="{{ filename | relative_url }}"
        />
        {% if image.photo-by %}
          <div class="photo-by">
            ^ photo by
            <a href="{{ image.photo-by-url }}">{{ image.photo-by }}</a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
